albatros_analysis/
.bash_profile
.bashrc
.Xauthority
.cache/
.conda/
.condarc
.config/
.cshrc
.cupy/
.local/
.python_history
.ssh/
.viminfo
.vscode-server
.env
.$PROJECT
.$SCRATCH
.ICEauthority
.astropy/
.dbus/
.ipython/
.jupyter/
.vnc/


.ipynb_checkpoints
__pycache__/
*.pyc
*.pyo
*.pyd
*.code-workspace
.vscode/

**/bin/
**/include/
**/lib/
**/lib64
**/share/
**/pyvenv.cfg
**/pip-selfcheck.json
